#paragraphsummary {
    font-family: "Special Elite";
    display:inline-block;
    vertical-align: top;
    margin-right: 50px
}

#wholetext {
    font-family: "Special Elite";
    display:inline-block;
    height:440px;
    width:400px;
    overflow-y:auto;
}
