#paragraphsummary {
    font-family: "Special Elite";
    display:inline-block;
    vertical-align: top;
    margin-right: 50px;
    width: 600px;
}

#chaptercontrols {
    margin-left: 500px;
}

#title {
    margin-left: 80px;
}

.maincontainer {
    margin-left: 80px;
}


#wholetext {
    font-family: "Special Elite";
    display:inline-block;
    height:440px;
    width:400px;
    overflow-y:auto;
}

#currentchapter {
    font-family: "Special Elite";
    display:inline-block;
    margin-right: 50px
}

#currentchapter {
    font-family: "Special Elite";
    display:inline-block;
    margin-right: 50px
}

#linktext {
    display:inline-block;
}

#link {
    display:inline-block;
}

button {
    font-family: "Special Elite";
}

#importantback {
    margin-left: 25px;
}