<!DOCTYPE html>
<html>
<body>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script> -->

<h1 style="font-family: Special Elite">Around the world in 80 days</h1>
{{ fig }}


<div id="plot-0" class="toshow" style="display:none">
{{ figures[0]|safe }} 
</div>

<div id="plot-1" class="toshow" style="display:none">
{{ figures[1]|safe }} 
</div>

<script>
    
    var texts = {{ texts }};

    var lodCutoff = {{ lodCutoff }};
    var fig = document.getElementById('plotDiv');

    fig.on('plotly_click', function(data){  
        console.log(data);
        var customdata = data.points[0].data.customdata[0];
        
        console.log(customdata);
        if (customdata['Graph'] == 1) {
            var x = data.points[0].data.x;
            for (let i = 0; i < x.length; i++) {
                console.log(x[i], typeof(x[i]));
            }
            var x0 = Math.min(...data.points[0].data.x);
            var x1 = Math.max(...data.points[0].data.x);
            var y0 = Math.min(...data.points[0].data.y);
            var y1 = Math.max(...data.points[0].data.y);
            console.log(x0, x1, y0, y1)
            var centerX = (x0 + x1) / 2;
            var centerY = (y0 + y1) / 2;
            var height = y1 - y0;
            var width = x1 - x0;
            // Height-limited
            if (height > width) {
                var finalHeight = height + 800;
                var finalWidth = height * 1.7;
            }
            // Width-limited
            else {
                var finalWidth = width + 800;
                var finalHeight = width * 1.7;
            }

            //alert('Clicked on overview graph, point:\n'+ JSON.stringify(customdata) + "\n\n" + "Center point x:" + centerX + " y: " + centerY + "\n"
            //    + "Final width: " + finalWidth + ", final height: " + finalHeight);
            var zoomData = {
                "xaxis.range[0]": centerX - (finalWidth / 2),
                "xaxis.range[1]": centerX + (finalWidth / 2),
                "yaxis.range[0]": centerY - (finalHeight / 2),
                "yaxis.range[1]": centerY + (finalHeight / 2), 
            }
            handleZoomEvent(zoomData);
        }
        else {
            var chapter = customdata['Chapter'];
            
            //alert("Chapter " + chapter + "\n" + text);
            if (chapter != undefined) {
                var text = texts[chapter - 1];
                document.getElementById('text').innerText = text;
            }
            
            //alert('Clicked on chapter graph, point:\n'+ JSON.stringify(customdata));
        }
        /*
        var pts = '';
        for(var i=0; i < data.points.length; i++){
        pts = 'x = '+data.points[i].x +'\ny = '+
            data.points[i].y.toPrecision(4) + '\n\n';
        }
    alert('Closest point clicked:\n\n'+pts);
    */
    });


    function handleZoomEvent(eventdata)
    {
        //var fig = document.getElementById('plotDiv');
        console.log(eventdata);
        if (!('xaxis.autorange' in eventdata))
        {
            // There are also 2 other events, one for only x-axis and one for only y-axis
            if (('xaxis.range[0]' in eventdata) && ('yaxis.range[0]' in eventdata))
            {
                var x_min = eventdata['xaxis.range[0]'];
                var x_max = eventdata['xaxis.range[1]'];
                var x_delta = x_max - x_min;
                var lodLevel = Math.floor(x_delta / lodCutoff);
                var newPlot = "plot-" + lodLevel;
                console.log(newPlot);
                /*
                alert( 'ZOOM!' + '\n\n' +
                    'Event data:' + '\n' +
                    JSON.stringify(eventdata) + '\n\n' +
                    'x-axis start:' + eventdata['xaxis.range[0]'] + '\n' +
                    'x-axis end:' + eventdata['xaxis.range[1]'] + "\n" + 
                    'LOD level:' + lodLevel);
                */
                var figure = JSON.parse(document.getElementById(newPlot).innerHTML);
                Plotly.react("plotDiv", figure.data, figure.layout);
                Plotly.relayout("plotDiv", 'xaxis.range', [x_min, x_max]);
                Plotly.relayout("plotDiv", 'yaxis.range', [eventdata['yaxis.range[0]'], eventdata['yaxis.range[1]']]);
            }
        }
        else
        {
            /*
            alert( 'ZOOM RESET!' + '\n\n' +
                'Event data:' + '\n' +
                JSON.stringify(eventdata));
            */
            var newPlot = "plot-1";
            var figure = JSON.parse(document.getElementById(newPlot).innerHTML);
            Plotly.react("plotDiv", figure.data, figure.layout);
            document.getElementById('text').innerText = "Click on a country to zoom in, click on a single chapter to see the full text"
        }        
    }

    function handleHoverEvent(data) {
        console.log(data);
        var customdata = data.points[0].data.customdata[0];
        //console.log(typeof(customdata));
        if (typeof(customdata) == "object" && "Graph" in customdata) {
            var color = data.points[0].fullData.fillcolor.split(",");
            console.log(color);
            var r = color[0];
            var g = color[1];
            var b = color[2];
            var finalColor = r + "," + g + "," + b + ", 1.0)";
            var width = 256;
            // Overview graph: Add chapters, days traveled in the country, graph depicting that time period, and the picture 
            if (customdata["Graph"] == 1) {
                console.log(customdata);
                // Setting chapter text
                var chapter_text = "";
                if (customdata["Start Chapter"] == customdata["End Chapter"]) {
                    chapter_text = "Chapter " + customdata["Start Chapter"].toString();
                }
                else {
                    chapter_text = "Chapters " + customdata["Start Chapter"].toString() + " - " + customdata["End Chapter"].toString();
                }
                
                // Set date text 
                var date_text = ""
                if (customdata["Start Date"] == customdata["End Date"]) {
                    var start = new Date(customdata["Total Start"]);
                    var current = new Date(customdata['Start Date']);
                    var difference = ((current - start) / (1000 * 3600 * 24));
                    date_text = "Day " + difference;
                }
                else {
                    var journeyStart = new Date(customdata["Total Start"]);
                    var countryStart = new Date(customdata['Start Date']);
                    var countryEnd = new Date(customdata['End Date']);
                    var startDay = ((countryStart - journeyStart) / (1000 * 3600 * 24));
                    var endDay = ((countryEnd - journeyStart) / (1000 * 3600 * 24));
                    date_text = "Days " + startDay + " - " + endDay;
                }            

                var div = document.createElement("div");
                div.id = "hovertext"
                console.log(x_pos, y_pos);
                //div.style.width = "100px";
                //div.style.height = "100px";
                div.style.background = finalColor;
                div.style.color = "black";
                div.style.fontFamily = "Special Elite,Open Sans,sans-serif";

                var header = document.createElement("h2");
                header.innerText = chapter_text;
                header.style.marginTop = "0px";
                header.style.marginBottom = "0px";
                div.appendChild(header);

                var date = document.createElement("p");
                date.innerText = customdata["Country"] + ": " + date_text;
                date.style.marginTop = "0px";
                date.style.marginBottom = "0px";
                //div.appendChild(date);

                // Add timeline figure
                var journeyStartDate = new Date(customdata["Total Start"]);
                var journeyEndDate = new Date(customdata["Total End"]);
                var totalJourneyText = "Journey start: " + journeyStartDate.toISOString().split("T")[0] + ", journey end: " + journeyEndDate.toISOString().split("T")[0];
                var trace1 = {
                    x: [new Date(customdata["Total Start"]), new Date(customdata["Total End"])],
                    y: [0, 0],
                    name: "total",
                    text: totalJourneyText, 
                    type: 'line',
                    hoverinfo: 'text',
                    line: {'width': 1, 'color': 'black'}
                };
                
                var currentStart = new Date(customdata['Start Date']);
                var currentEnd = new Date(customdata['End Date']);
                var currentText = "Country: " + customdata["Country"] + ", from chapter " + customdata["Start Chapter"] + "(" + currentStart.toISOString().split("T")[0] + ")" +  "to chapter " + customdata["End Chapter"] + "(" + currentEnd.toISOString().split("T")[0] + ")";
                var trace2 = {
                    x: [new Date(customdata['Start Date']), new Date(customdata['End Date'])],
                    y: [0, 0],
                    name: "current",
                    text: currentText, 
                    type: 'line',
                    hoverinfo: 'text',
                    line: {'width': 50, 'color': 'blue'}
                }

                var layout = {
                    showlegend: false,
                    width: 100,
                    height: 15,
                    yaxis: {
                        fixedrange: true,
                        showgrid: false,
                        showticklabels: false
                    },
                    xaxis: {
                        fixedrange: true,
                        showgrid: false,
                        range: [journeyStartDate, journeyEndDate],
                        showticklabels: false
                    },
                    margin: {
                        l: 0,
                        r: 0,
                        b: 0,
                        t: 0,
                        pad: 0
                    },
                    paper_bgcolor: 'rgba(0,0,0,0)',
                    plot_bgcolor: 'rgba(0,0,0,0)'
                    };

                var figData = [trace1, trace2];

                var figure = document.createElement("div");
                Plotly.newPlot(figure, figData, layout);
                figure.style.marginLeft = "5px";
                var countryAndFig = {
                    date: date,
                    fig: figure
                };
                countryAndFig.date.style.display = 'inline-block';
                //countryAndFig.country.style.border = "thin solid black"; 
                countryAndFig.fig.style.display = 'inline-block';
                //countryAndFig.fig.style.border = "thin solid black"; 


                var countryAndFigDiv = document.createElement("div");
                countryAndFigDiv.appendChild(countryAndFig.date);
                countryAndFigDiv.appendChild(countryAndFig.fig);
                countryAndFigDiv.style.marginTop = "0px";
                countryAndFigDiv.style.marginBottom = "0px";
                div.appendChild(countryAndFigDiv);

                var moneySpent = customdata["Money Spent"];
                var totalMoneySpent = customdata["Total Money Spent"];

                var moneyText = "Money spent in country: \u00A3" + moneySpent + "\n" + "Money spent in total: \u00A3" + totalMoneySpent;
                var moneyElement = document.createElement("p");
                moneyElement.innerText = moneyText;
                moneyElement.style.marginTop = "0px";
                moneyElement.style.marginBottom = "0px";
                //moneyElement.style.backgroundColor = "lightgrey";
                div.appendChild(moneyElement);


                // Set image
                console.log(customdata["Image Path"]);
                // Chapter description and picture wrapped
                var descriptionDiv = document.createElement("div");
                var summary = customdata["Summary"];
                var summaryElement = document.createElement("p");
                summaryElement.innerText = summary;
                summaryElement.style.marginTop = "0px";
                summaryElement.style.marginBottom = "0px";
                summaryElement.style.backgroundColor = "lightgrey";

                var image = document.createElement("img");
                image.src = customdata["Image Path"];
                var aspectRatio = customdata["Aspect Ratio"];
                var imgWidth = 256;
                var height = Math.round(imgWidth / aspectRatio);
                image.setAttribute("height", height);
                image.setAttribute("width", imgWidth);
                descriptionDiv.appendChild(summaryElement);
                
                div.appendChild(image);
                div.appendChild(descriptionDiv);
                
            }
            // Per chapter graph
            else {
                console.log(customdata);
                var div = document.createElement("div");
                div.id = "hovertext"
                console.log(x_pos, y_pos);
                //div.style.width = "100px";
                //div.style.height = "100px";
                div.style.background = finalColor;
                div.style.color = "black";
                div.style.fontFamily = "Special Elite,Open Sans,sans-serif";
                // Chapter number
                var chapter_text = customdata["Chapter"].toString();
                var header = document.createElement("h1");
                header.innerText = chapter_text;
                header.style.marginTop = "0px";
                header.style.marginBottom = "0px";
                
                //div.appendChild(header);

                // Country and days, side by side with timeline, and chapter name underneath that
                var countryText = customdata["Country"];
                var dateText = ""
                if (customdata["Start Date"] == customdata["End Date"]) {
                    var start = new Date(customdata["Total Start"]);
                    var current = new Date(customdata['Start Date']);
                    var difference = ((current - start) / (1000 * 3600 * 24));
                    dateText = "day " + difference;
                }
                else {
                    var journeyStart = new Date(customdata["Total Start"]);
                    var countryStart = new Date(customdata['Start Date']);
                    var countryEnd = new Date(customdata['End Date']);
                    var startDay = ((countryStart - journeyStart) / (1000 * 3600 * 24));
                    var endDay = ((countryEnd - journeyStart) / (1000 * 3600 * 24));
                    dateText = "days " + startDay + " - " + endDay;
                }   
                countryText += " - " + dateText;
                var countryDiv = document.createElement("p");
                countryDiv.innerText = countryText;
                countryDiv.style.marginTop = "0px";
                countryDiv.style.marginBottom = "0px";

                var chapterName = customdata["Chapter Name"];
                var chapterNameDiv = document.createElement("h3");
                chapterNameDiv.innerText = chapterName;
                chapterNameDiv.style.marginTop = "0px";
                chapterNameDiv.style.marginBottom = "0px";
                //chapterNameDiv.style.border = "thin solid black"; 

                // Add timeline figure
                var journeyStartDate = new Date(customdata["Total Start"]);
                var journeyEndDate = new Date(customdata["Total End"]);
                var totalJourneyText = "Journey start: " + journeyStartDate.toISOString().split("T")[0] + ", journey end: " + journeyEndDate.toISOString().split("T")[0];
                var trace1 = {
                    x: [new Date(customdata["Total Start"]), new Date(customdata["Total End"])],
                    y: [0, 0],
                    name: "total",
                    text: totalJourneyText, 
                    type: 'line',
                    hoverinfo: 'text',
                    line: {'width': 1, 'color': 'black'}
                };
                
                var currentStart = new Date(customdata['Start Date']);
                var currentEnd = new Date(customdata['End Date']);
                var currentText = "Country: " + customdata["Country"] + ", chapter " + customdata["Chapter"] + "(" + currentStart.toISOString().split("T")[0] + " - " + currentEnd.toISOString().split("T")[0] + ")";
                var trace2 = {
                    x: [new Date(customdata['Start Date']), new Date(customdata['End Date'])],
                    y: [0, 0],
                    name: "current",
                    text: currentText, 
                    type: 'line',
                    hoverinfo: 'text',
                    line: {'width': 15, 'color': 'blue'}
                }

                var layout = {
                    showlegend: false,
                    width: 100,
                    height: 15,
                    yaxis: {
                        fixedrange: true,
                        showgrid: false,
                        showticklabels: false
                    },
                    xaxis: {
                        fixedrange: true,
                        showgrid: false,
                        range: [journeyStartDate, journeyEndDate],
                        showticklabels: false
                    },
                    margin: {
                        l: 0,
                        r: 0,
                        b: 0,
                        t: 0,
                        pad: 0
                    },
                    paper_bgcolor: 'rgba(0,0,0,0)',
                    plot_bgcolor: 'rgba(0,0,0,0)'
                    };

                var figData = [trace1, trace2];

                var figure = document.createElement("div");
                Plotly.newPlot(figure, figData, layout);
                figure.style.marginLeft = "5px";
                var countryAndFig = {
                    country: countryDiv,
                    fig: figure
                };
                countryAndFig.country.style.display = 'inline-block';
                //countryAndFig.country.style.border = "thin solid black"; 
                countryAndFig.fig.style.display = 'inline-block';
                //countryAndFig.fig.style.border = "thin solid black"; 


                var countryAndNameDiv = document.createElement("div");
                countryAndNameDiv.appendChild(chapterNameDiv);
                countryAndNameDiv.appendChild(countryAndFig.country);
                countryAndNameDiv.appendChild(countryAndFig.fig);
                countryAndNameDiv.style.marginTop = "0px";
                countryAndNameDiv.style.marginBottom = "0px";


                var divContents = {
                    chapter: header,
                    country: countryAndNameDiv
                }
                divContents.chapter.style.display = 'inline-block';
                //divContents.chapter.style.border = "thin solid black"; 
                //divContents.chapter.style.position = "relative";
                //divContents.chapter.style.top = "-50px";

                divContents.country.style.display = 'inline-block';
                //divContents.country.style.border = "thin solid black"; 
                divContents.country.style.marginTop = "0px"; 
                
                div.appendChild(divContents.chapter);
                div.appendChild(divContents.country);

                var moneySpent = customdata["Money Spent"];
                var totalMoneySpent = customdata["Total Money Spent"];

                var moneyText = "Money spent in chapter: \u00A3" + moneySpent + "\n" + "Money spent in total: \u00A3" + totalMoneySpent;
                var moneyElement = document.createElement("p");
                moneyElement.innerText = moneyText;
                moneyElement.style.marginTop = "0px";
                moneyElement.style.marginBottom = "0px";
                //moneyElement.style.backgroundColor = "lightgrey";
                div.appendChild(moneyElement);

                // Chapter description and picture wrapped
                var descriptionDiv = document.createElement("div");
                var summary = customdata["Summary"];
                var summaryElement = document.createElement("p");
                summaryElement.innerText = summary;
                summaryElement.style.marginTop = "0px";
                summaryElement.style.marginBottom = "0px";
                summaryElement.style.backgroundColor = "lightgrey";

                var image = document.createElement("img");
                image.src = customdata["Image Path"];
                var aspectRatio = customdata["Aspect Ratio"];
                var imgWidth = 256;
                var height = Math.round(imgWidth / aspectRatio);
                image.setAttribute("height", height);
                image.setAttribute("width", imgWidth);
                descriptionDiv.appendChild(image);
                descriptionDiv.appendChild(summaryElement);

                
                div.appendChild(descriptionDiv);
            }

            var leftBBox = Math.round(data.points[0].bbox["x1"]) + 10;
            var clientHeight = div.clientHeight;
            var figWidth = div.clientWidth;
            //console.log(div)

            div.style.position = "absolute";
            div.style.marginTop = "0px";
            div.style.marginBottom = "0px";
            div.style.border = "thin solid black"; 
            const currentDiv = document.getElementById("text");
            document.body.insertBefore(div, currentDiv);
            var leftBBox = Math.round(data.points[0].bbox["x1"]) + 10;
            var clientHeight = div.clientHeight;
            var clientWidth = div.clientWidth;
            console.log("Div width and height post", clientHeight, clientWidth);
            console.log(div)
            var figWidth = data.event.target.width.animVal.value;
            var figHeight = data.event.target.height.animVal.value;
            //var figWidth = 1920;
            // Attempt to align hover label to the right, if it goes too far, put it to the right
            if (leftBBox + clientWidth > figWidth) {
                console.log("Place div on left");
                var x_pos = Math.round(data.points[0].bbox["x0"]) - 10 - clientWidth;
            }
            else {
                console.log("Place div on right");
                var x_pos = Math.round(data.points[0].bbox["x1"]) + 10;
            }
            
            //var x_pos = Math.round(data.points[0].bbox["x1"]) + 10;
            
            var y_pos = Math.round(data.points[0].bbox["y0"]) - 10;
            console.log(y_pos);
            if (y_pos - clientHeight < 0) {
                console.log("Move div up by" , clientHeight - y_pos, "pixels")
                y_pos -= ((clientHeight - y_pos) / 2); 
            }
            div.style.left = x_pos+'px';
            div.style.top = y_pos+'px';
            
        }
    }

    fig.on('plotly_hover', function(data){ 
        handleHoverEvent(data)
    });
    
    fig.on('plotly_unhover', function(data){
        var element = document.getElementById("hovertext");
        if (typeof(element) != 'undefined' && element != null)
        {
            element.remove();
        }
        
    });


    fig.on('plotly_relayout', function(eventdata){ 
        handleZoomEvent(eventdata);
    });

    
    
</script>
<p id="text" style="font-family: Special Elite">Click on a country to zoom in, click on a single chapter to see the full text.</p>
</body>
</html>